* {
  margin: 0;
  padding: 0;
  color: #fff;
  overflow-x: hidden;
  ::selection {
    color: #fff;
    background: darkslategray;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

.Container {
  background-color: #202123;
  width: 100vw;
  height: 100vh;
}
